<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .header {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        h1 {
            margin-right: 10px;
        }

        .upload-button {
            margin-left: 10px;
        }
    </style>
</head>
<body>

<div class="header">
    <h1>Index.html</h1>
    <button class="upload-button" th:onclick="|window.location.href='/upload.html'|">사진 올리기</button>
</div>

<div class="container mt-5">
    <table class="table" th:each="board: ${pictureBoards}">
        <tbody>
        <tr class="text-center">
            <td>
                <img th:src="@{${board.filePath}}" th:onclick="|window.location.href='/imageview/${board.id}'|" style="width: 300px; height: 300px;">
            </td>
        </tr>
        <tr class="text-center">
            <td>
                <a th:text="${board.title}" th:onclick="|window.location.href='/imageview/${board.id}'|" style="cursor: pointer; text-decoration:none"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>